{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
	<div class="introduction">
		<H2>205 Restaurant</H2>
	</div>
	<div class="table_mycss">
		<div class="rows">
			<div class="title">Address</div>
			<div class="content">123 Street, xyz Road, Shatin, New Territories</div>
		</div>
		<div class="rows">
			<div class="title">Telephone</div>
			<div class="content">1234 5678</div>
		</div>
		<div class="rows">
			<div class="title">Fax</div>
			<div class="content">8765 4321</div>
		</div>
		<div class="rows">
			<div class="title">E-mail</div>
			<div class="content">205CDE@scope.edu.hk</div>
		</div>
		<div class="rows">
			<div class="title">Meals</div>
			<div class="content">Lunch, Dinner</div>
		</div>
		<div class="rows">
			<div class="title">Open Hours</div>
			<div class="content">
				<div class="days_detail">
					<span class="day">Monday</span>
					<span class="hours">12:00 - 14:30, 18:00 - 21:30</span>
				</div>
				<div class="days_detail">
					<span class="day">Tuesday</span>
					<span class="hours">12:00 - 14:30, 18:00 - 21:30</span>
				</div>
				<div class="days_detail">
					<span class="day">Wednesday</span>
					<span class="hours">12:00 - 14:30, 18:00 - 21:30</span>
				</div>
				<div class="days_detail">
					<span class="day">Thursday</span>
					<span class="hours">12:00 - 14:30, 18:00 - 21:30</span>
				</div>
				<div class="days_detail">
					<span class="day">Friday</span>
					<span class="hours">12:00 - 14:30, 18:00 - 21:30</span>
				</div>
				<div class="days_detail">
					<span class="day">Saturday</span>
					<span class="hours">12:00 - 14:30, 18:00 - 22:30</span>
				</div>
				<div class="days_detail">
					<span class="day">Sunday</span>
					<span class="hours">12:00 - 14:30, 18:00 - 22:30</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}